Checks: "bugprone-*,google-*,modernize-*,performance-*,cppcoreguidelines-*,-modernize-use-trailing-return-type,-modernize-use-auto"
# Other profiles:
# 
# *
WarningsAsErrors: ""
HeaderFilterRegex: ".*"
